
{% extends 'base.html' %}

    {% block container %}

    <div class="jumbotron text-center mt-4">
      <h1 class="display-4">Всякие туры</h1>
      <p class="lead">{{ subt }}</p>
      <p class="mt-5 w-50 mx-auto">{{ desc }}</p>
    </div>

    <!-- CARDS -->

    <div class="row mt-5">
        {% for tour in tours -%}<div class="col-4">
            <div class="card mb-3" >
                <div class="img-block">
                    <img src="{{ tours[tour]["picture"] }}" class="img-responsive" width="300" height="200" align="center">
                </div>
            <div class="card-body">
              <h5 class="card-title"> {{ tours[tour]["title"] }} </h5>
             <p class="card-text">{{ tours[tour]["description"] }}</p>
                <a href="/tours/{{ tour }}" class="btn btn-sm btn-primary">Подробнее</a>
            </div>
        </div>
        </div>
        {%- endfor %}
    </div>

    {% endblock %}